.buttonA {
  color: #46139f!important;
  background-color: #fff;
  margin-right: 0.5rem!important;
}

.buttonB {
  color: #ff7f50!important;
}

.buttonC {
  background-color: #fff!important;
  border-color: #46139f!important;
  color: #46139f!important;
  margin-left: 0.5rem!important;
}
